{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="style.css">
{% endblock extra_css %}

{% block title %}
Home
{% endblock title %}


{% block content %}
<h1>Ini Adalah Home</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique porro perferendis unde quisquam ad ex delectus quasi, obcaecati provident qui accusamus natus incidunt omnis culpa quibusdam ratione voluptates cupiditate nihil nemo? Velit, voluptatem. Quaerat accusantium officiis incidunt non explicabo deleniti, ipsum, ratione iste ullam sint, culpa optio placeat soluta recusandae!</p>
{% endblock content %}